dotenv
layout python
if [ -f "$HOME/.nvm/nvm.sh" ]; then
  # Load nvm if not already in this shell
  type nvm >/dev/null 2>&1 || . "$HOME/.nvm/nvm.sh"
  # Use version from .nvmrc
  nvm use "$(cat .nvmrc)"
fi
